<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U NiK</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
</head>

<body>
    
    <section id="header">
        <a href="#"><img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.png" class="logo" alt="" width="150" height="60"></a>
        
        <div>
            <ul id="navbar">
                <li><a href="/index">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="active" href="contact">Contact</a></li>
                <li><a href="/cart"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="/register"><i class="fa fa-user-secret"></i></a></li>
            </ul>
    </section>
    
    <section id="page-header" class="about-header">
        <h2>#Let's_talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>
    
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Contact Us</h2>
            <h3>Ready to help 24/7</h3>
            <div>
                <li>
                    <i class="fa fa-map"></i>
                    <p>Velammal College of Engineering and Technology, Madurai</p>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <p>**********</p>
                </li>
                <li>
                    <i class="fa fa-square"></i>
                    <p>uniksmartfashion@gmail.com</p>
                </li>
                <li>
                    <i class="fa fa-circle"></i>
                    <p>24/7</p>
                </li>
            </div>
        </div>
        
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.480480772121!2d78.17389941474136!3d9.89388039292396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c542e773b4bf%3A0x18ff131aca07d79b!2sVELAMMAL%20COLLEGE%20OF%20ENGINEERING%20AND%20TECHNOLOGY!5e0!3m2!1sen!2sin!4v1667743851610!5m2!1sen!2sin" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
    </section>
    
    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button><br><br>
        </form>
        
        <div class="people">
            <div>
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.jpg" alt="">
                <p><span>Sangeetha T</span> Team Leader <br> E-mail:sangeethatamilaiah@gmail.com</p>
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.jpg" alt="">
                <p><span>Pavithra T</span> Team Member <br> E-mail:pavibaala2002@gmail.com</p>  
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.jpg" alt="">
                <p><span>Sri Gayathiri S</span> Team Member <br> E-mail:srigayathiri2001@gmail.com</p>  
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.jpg" alt="">
                <p><span>Yuva Ishwarya P</span> Team Member <br> E-mail:yuvaishwarya137@gmail.com</p>     
            </div>
        </div>
    </section>
    
       
       <section id="newsletter" class="section-p1">
           <div class="newstext">
               <h4>Sign up for NewsLetters</h4>
               <p>Get Email updates about our latest shop and <span>special offer</span>
               </p>
           </div>
           <div class="form">
               <input type="text" placeholder="Your E-mail Address">
               <button class="normal">Sign Up</button>
               
           </div>
       </section>
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.png" alt="" width="200" height="100">
            <h4>Contact</h4>
            <p><strong>E-Mail: </strong>uniksmartfashion@gmail.com</p>
            <p><strong>Phone: </strong>0000000000</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>
        
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Tearms & Conditions</a>
            <a href="#">Contact us</a>
        </div>
        
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
       
    </footer>
          <div class="copyright">
              <center><p> C 2022, PNT2022TMID23050 - Smart Fashion Recommender Application </p></center>
          </div>
          
    
    
    
    <script src="script.js"></script>
    
</body>

</html>
