<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U NiK</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
</head>

<body>
    
    <section id="header">
        <a href="#"><img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.png" class="logo" alt="" width="150" height="60"></a>
        
        <div>
            <ul id="navbar">
                <li><a href="/index">Home</a></li>
                <li><a  class="active"  href="/products">Products</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/cart"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="/register"><i class="fa fa-user-secret"></i></a></li>
            </ul>
    </section>
    
    <section id="page-header">
        <h2>Stay Home</h2>
        <p>Save more with coupons & up to 70% off</p>
    </section>
    
    <section id="product1" class="section-p1">
       
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='/sproduct'">
                <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-bag.jpg" height="400" alt="" >
                <div class="des">
                    <span>Lavie</span>
                    <h5>Women's Black Handbag with Clutches</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>₹3500</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
            </div>
             <div class="pro">
                 <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-bag1.jpg" height="400" alt="">
                 <div class="des">
                     <span>Lavie</span>
                     <h5>Women's pink Handbag</h5>
                     <div class="star">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                     </div>
                     <h4>₹1500</h4>
                 </div>
                 <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
             </div>
              <div class="pro">
                  <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-bag2.jpg" height="400" alt="">
                  <div class="des">
                      <span>Lavie</span>
                      <h5>Women's Green Handbag</h5>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <h4>₹1800</h4>
                  </div>
                  <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
              </div>
               <div class="pro">
                   <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-bag3.jpg" height="400" alt="">
                   <div class="des">
                       <span>Lavie</span>
                       <h5>Women's Brown Handbag</h5>
                       <div class="star">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                       </div>
                       <h4>₹1590</h4>
                   </div>
                   <a href="/cart1"><button onclick="mycart()"><i class="fa fa-shopping-bag bag"></i></a></button>
               </div>
                <div class="pro">
                    <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-j1.jpg" height="350" alt="">
                    <div class="des">
                        <span>Graff</span>
                        <h5>Silver plated Women's Necklace</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4>₹1500</h4>
                    </div>
                    <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                </div>
                 <div class="pro">
                     <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-j.jpg" height="350" alt="">
                     <div class="des">
                         <span>Graff</span>
                         <h5>Silver plated Women's Stud</h5>
                         <div class="star">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                         </div>
                         <h4>₹600</h4>
                     </div>
                     <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                 </div>
                  <div class="pro">
                      <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-j3.jpg" height="350" alt="">
                      <div class="des">
                          <span>Graff</span>
                          <h5>Silver plated Women's Ring</h5>
                          <div class="star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <h4>₹500</h4>
                      </div>
                      <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                  </div>
                   <div class="pro">
                       <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-j4.jpg" height="350" alt="">
                       <div class="des">
                           <span>Graff</span>
                           <h5>Silver plated Women's Bangle</h5>
                           <div class="star">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </div>
                           <h4>₹2500</h4>
                       </div>
                       <a href="/cart2"><button onclick=onclick="mycart()"><i class="fa fa-shopping-bag bag"></i></a></button>
                   </div>
       
                <div class="pro">
                <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-kid1.jpg" alt="" >
                <div class="des">
                    <span>H&M</span>
                    <h5>Boys Yellow Solid Top And Pant Set</h5><br>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>₹500</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
            </div>
             <div class="pro">
                 <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-kid2.jpg" alt="">
                 <div class="des">
                     <span>H&M</span>
                     <h5>Boys Navy Polka Dot Print Shirt And Pant Set With Bow</h5>
                     <div class="star">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                     </div>
                     <h4>₹1000</h4>
                 </div>
                 <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
             </div>
              <div class="pro">
                  <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-kid3.jpg" alt="">
                  <div class="des">
                      <span>H&M</span>
                      <h5>Boys Red Solid Top And Pant Set</h5><br>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <h4>₹700</h4>
                  </div>
                  <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
              </div>
               <div class="pro">
                   <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-kid4.jpg" alt="">
                   <div class="des">
                       <span>H&M</span>
                       <h5>Unisex Brown Bow Applique Sweatshirt and Pant Set</h5>
                       <div class="star">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                       </div>
                       <h4>₹1500</h4>
                   </div>
                   <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
               </div>
                <div class="pro">
                    <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-shoe.jpg" height="350" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Black Sports Shoe</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4>₹7500</h4>
                    </div>
                    <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                </div>
                 <div class="pro">
                     <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-shoe1.jpg" height="350" alt="">
                     <div class="des">
                         <span>adidas</span>
                         <h5>Leather Shoe-Brown</h5>
                         <div class="star">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                         </div>
                         <h4>₹9800</h4>
                     </div>
                     <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                 </div>
                  <div class="pro">
                      <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-shoe2.jpg" height="350" alt="">
                      <div class="des">
                          <span>adidas</span>
                          <h5>White Sports Shoe</h5>
                          <div class="star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <h4>₹5500</h4>
                      </div>
                      <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                  </div>
                   <div class="pro">
                       <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/unik/pro-shoe3.jpg"  height="350" alt="">
                       <div class="des">
                           <span>adidas</span>
                           <h5>Red Designer Sports Shoe</h5>
                           <div class="star">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </div>
                           <h4>₹11500</h4>
                       </div>
                       <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                   </div>
        </div> 
    </section>
    
    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="/product1">2</a>
        <a href="/product2">3</a>
        <a href="#"><i class="fa fa-arrow-right"></i></a>
    </section>
    
    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign up for NewsLetters</h4>
            <p>Get Email updates about our latest shop and <span>special offer</span>
            </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your E-mail Address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.png" alt="" width="200" height="100">
            <h4>Contact</h4>
            <p><strong>E-Mail: </strong>uniksmartfashion@gmail.com</p>
            <p><strong>Phone: </strong>0000000000</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>
        
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Tearms & Conditions</a>
            <a href="#">Contact us</a>
        </div>
        
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
       
    </footer>
          <div class="copyright">
              <center><p> C 2022, PNT2022TMID23050 - Smart Fashion Recommender Application </p></center>
          </div>
          
    
    
    
        <script>
        
        function mycart(){
            alert("Added to cart :)")
        }
        
      window.watsonAssistantChatOptions = {
        integrationID: "5ddc2b44-af18-41f8-b5be-fbacc52d49da", // The ID of this integration.
        region: "us-south", // The region your integration is hosted in.
        serviceInstanceID: "06c70e8f-e24c-4270-a448-65a2517c4baa", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>
    
</body>

</html>

