<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U NiK</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
</head>

<body>
   
    <section id="header">
        <a href="#"><img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.png" class="logo" alt="" width="150" height="60"></a>
       
        <div>
            <ul id="navbar">
                <li><a href="/index">Home</a></li>
                <li><a  class="active"  href="/products">Products</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/cart"><i class="fa fa-shopping-bag"></i></a></li>
                <li><a href="/register"><i class="fa fa-user-secret"></i></a></li>
            </ul>
    </section>
   
    <section id="page-header">
        <h2>Stay Home</h2>
        <p>Save more with coupons & up to 70% off</p>
    </section>
   
    <section id="product1" class="section-p1">
       
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='sproduct.html'">
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img1.jpg" height="400" alt="" >
                <div class="des">
                    <span>TILISM</span>
                    <h5>TILISM Women's Floor Length Maxi Gown Dress for Photoshoot or Wedding</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>₹7500</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
            </div>
             <div class="pro">
                 <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2.jpg" height="400" alt="">
                 <div class="des">
                     <span>TILISM</span>
                     <h5>TILISM Women's Floor Length Maxi Gown Dress for Photoshoot or Wedding</h5>
                     <div class="star">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                     </div>
                     <h4>₹5000</h4>
                 </div>
                 <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
             </div>
              <div class="pro">
                  <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img3.jpg" height="400" alt="">
                  <div class="des">
                      <span>TILISM</span>
                      <h5>TILISM Women's Floor Length Maxi Gown Dress for Photoshoot or Wedding</h5>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <h4>₹6500</h4>
                  </div>
                  <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
              </div>
               <div class="pro">
                   <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img4.jpg" height="400" alt="">
                   <div class="des">
                       <span>TILISM</span>
                       <h5>TILISM Women's Floor Length Maxi Gown Dress for Photoshoot or Wedding</h5>
                       <div class="star">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                       </div>
                       <h4>₹10000</h4>
                   </div>
                   <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
               </div>
                <div class="pro">
                    <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img5.jpg" height="350" alt="">
                    <div class="des">
                        <span>ANARKALI</span>
                        <h5>Purple Silk Cotton Printed Anarkali</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4>₹12290</h4>
                    </div>
                    <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                </div>
                 <div class="pro">
                     <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img6.jpg" height="350" alt="">
                     <div class="des">
                         <span>ANARKALI</span>
                         <h5>Blue Silk Cotton Printed Anarkali</h5>
                         <div class="star">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                         </div>
                         <h4>₹12290</h4>
                     </div>
                     <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                 </div>
                  <div class="pro">
                      <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img7.jpg" height="350" alt="">
                      <div class="des">
                          <span>ANARKALI</span>
                          <h5>Pink Silk Cotton Printed Anarkali</h5>
                          <div class="star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <h4>$78</h4>
                      </div>
                      <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                  </div>
                   <div class="pro">
                       <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img8.jpg" height="350" alt="">
                       <div class="des">
                           <span>ANARKALI</span>
                           <h5>Grey Silk Cotton Printed Anarkali</h5>
                           <div class="star">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </div>
                           <h4>₹8075</h4>
                       </div>
                       <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                   </div>
       
                <div class="pro">
                <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img9.jpg" alt="" >
                <div class="des">
                    <span>TOPS</span>
                    <h5>Blue Foil Work Rayon Top</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>₹1395</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
            </div>
             <div class="pro">
                 <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img10.jpg" alt="">
                 <div class="des">
                     <span>TOPS</span>
                     <h5>White Floral Print Rayon Top</h5>
                     <div class="star">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                     </div>
                     <h4>₹1125</h4>
                 </div>
                 <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
             </div>
              <div class="pro">
                  <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img11.jpg" alt="">
                  <div class="des">
                      <span>TOPS</span>
                      <h5>Purple Stone Work Rayon Top</h5>
                      <div class="star">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </div>
                      <h4>₹895</h4>
                  </div>
                  <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
              </div>
               <div class="pro">
                   <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img12.jpg" alt="">
                   <div class="des">
                       <span>TOPS</span>
                       <h5>Pink Striped Chanderi Silk Top</h5>
                       <div class="star">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                       </div>
                       <h4>₹1125</h4>
                   </div>
                   <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
               </div>
                <div class="pro">
                    <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img13.jpg" height="350" alt="">
                    <div class="des">
                        <span>T-Shirt</span>
                        <h5>GIRLS SHOPPIE Solid Women Round Neck White, Blue T-Shirts</h5>
                        <div class="star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4>₹500</h4>
                    </div>
                    <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                </div>
                 <div class="pro">
                     <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img14.jpg" height="350" alt="">
                     <div class="des">
                         <span>T-Shirt</span>
                         <h5>Color Block Women Round Neck</h5>
                         <div class="star">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                         </div>
                         <h4>₹770</h4>
                     </div>
                     <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                 </div>
                  <div class="pro">
                      <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img15.jpg" height="350" alt="">
                      <div class="des">
                          <span>T-Shirt</span>
                          <h5>Color Block Women Round Neck</h5>
                          <div class="star">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <h4>₹570</h4>
                      </div>
                      <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                  </div>
                   <div class="pro">
                       <img src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/img16.jpg"  height="350" alt="">
                       <div class="des">
                           <span>T-Shirt</span>
                           <h5>Striped Women Round Neck Grey T-Shirt</h5>
                           <div class="star">
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                               <i class="fa fa-star"></i>
                           </div>
                           <h4>₹800</h4>
                       </div>
                       <a href="#"><i class="fa fa-shopping-bag bag"></i></a>
                   </div>
        </div>
    </section>
   
    <section id="pagination" class="section-p1">
        <a href="/products">1</a>
        <a href="/product2">2</a>
        <a href="/product2"><i class="fa fa-arrow-right"></i></a>
    </section>
   
    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign up for NewsLetters</h4>
            <p>Get Email updates about our latest shop and <span>special offer</span>
            </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your E-mail Address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
   
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="https://unik.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.png" alt="" width="200" height="100">
            <h4>Contact</h4>
            <p><strong>E-Mail: </strong>uniksmartfashion@gmail.com</p>
            <p><strong>Phone: </strong>0000000000</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>
       
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Tearms & Conditions</a>
            <a href="#">Contact us</a>
        </div>
       
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track my order</a>
            <a href="#">Help</a>
        </div>
       
    </footer>
          <div class="copyright">
              <center><p> C 2022, PNT2022TMID23050 - Smart Fashion Recommender Application </p></center>
          </div>
         
   
   
   
       <script>
      window.watsonAssistantChatOptions = {
        integrationID: "5ddc2b44-af18-41f8-b5be-fbacc52d49da", // The ID of this integration.
        region: "us-south", // The region your integration is hosted in.
        serviceInstanceID: "06c70e8f-e24c-4270-a448-65a2517c4baa", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>
   
</body>

</html>
